/* Alteração da cor da fonte
body{
    /* background-color: #ffea00
 */
 /* background-image: url(imagens/images.jpg) ;
 background-repeat: no-repeat;
 background-size: cover;
}
h1 {
    color: fuchsia;
} */

/* Alteração da cor do fundo */

table {
    border: 1px solid black;
    width: 500px;
    border-spacing: 5px; 
    margin-left: auto; 
    margin-right: auto;
}

td {
    padding: 10px;
    text-align: left;
}